:root {
    --first-color: #F3f4FC;
    --second-color: rgb(9, 9, 9);
    --third-color: #901717;
    --fourth-color: rgb(58, 0, 0);
    --first-font: 'Poiret One', cursive;;
    --second-font: 'Forum', cursive;
}