html {
    scroll-behavior: smooth;
}

body{ 
    margin: auto;
}

header {
    height: 15vh;
}

.navigace {
    padding-top: 60px;
    padding-bottom: 0%;
    padding-right: 70px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--second-font);
    position: fixed;
    top: 0%;
    flex-wrap: nowrap;
    height: 60px;
    width: 99%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: transparent;
    font-weight: 500;
    letter-spacing: 1px;
}


.navigace a {
    padding-top: 0%;
    padding-bottom: 0%;
    color: var(--second-color);
    text-decoration: none;
    margin: 0 30px 0 30px;
    transition: 0.5s;
}

.navigace a:hover {
    color: var(--third-color);
}

.intro h1 {
    text-align: center;
    font-size: 100px;
    color: var(--second-color);
    margin-bottom: 0%;
    padding-top: 100px;
    font-family: var(--first-font);
    letter-spacing: 1.2px;
    font-weight: 600;
}

.intro p {
    text-align: center;
    font-size: 20px;
    color: var(--second-color);
    font-family: var(--second-font);
    letter-spacing: 1.5px;
    font-weight: 300;
    margin: 50px 450px 0 450px;
}

.omne{
    padding: 20px 310px 0 310px;
    margin-bottom: 70px;
}


.omne h4 {
    margin-top: 300px;
    font-family: var(--first-font);
    text-align: center;
    font-size: 50px;
    color: var(--second-color);
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.omne h6 {
    font-family: var(--first-font);
    text-align: center;
    font-size: 30px;
    color: var(--second-color);
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0%;
    letter-spacing: 1px;
}

.omne p {
    font-family: var(--second-font);
    font-size: 18px;
    color: var(--second-color);
    text-align: center;
    font-family: var(--second-font);
   font-weight: 400;
    letter-spacing: 1.5px;
    margin: 0%;
    line-height: 30px;
}

footer {
    background-color: var(--fourth-color);
    padding-top: 40px;
    padding-bottom: 5px;
    height: auto;
}

.kontakt p {
    color: var(--first-color);
    opacity: 30%;
    text-align: center;
}

#circle {
    position: absolute;
    width: 5px;
    height: 5px;
    margin: -2.5px 0 0 -2.5px;
    border: 6px solid #901717;
    background-color: var(--third-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
}